{% extends 'food/base.html' %}

{% block body %}

    <div class='container'>
        <div class='row align-items-center vh-100'>
            <div class='col-md-4 offset-md-4 mx-auto'>
                <div class='card'>
                    <div class='card-header text-white bg-info'>
                        <div class='card-title'>
                            Login
                        </div>
                    </div>
                    <div class='card-body'>
                        <form method='POST'> 
                            {% csrf_token %}
                            {% for field in form %}
                                <div class='form-group'>
                                    {{ field.name }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type='submit' class='btn-info'>Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}